.first-build-message
Makefile.config
version.stamp
TAGS
tags
*cscope*
.deps
/notmuch
notmuch.sym
notmuch-shared
libnotmuch.so*
libnotmuch*.dylib
*.[ao]
*~
.*.swp
releases
contrib/notmuch-deliver/test
notmuch-dbus-daemon
notmuch-dbus-daemon-shared
notmuch-dbus-generated.c
notmuch-dbus-generated.h
notmuch.1.gz
